@import "tailwindcss";

/*KONFIGURASI TEMA (@theme)*/
@theme {
  /* Colors -> --color-* */
  --color-black: #101010;
  --color-white: #fafafa;
  --color-gray-200: #b6b4b3;
  --color-gray-100: #cfcdcd;
  --color-gray-700: #403e3d;
  --color-red-600: #d93529;
  --color-red-400: #f67c73;

  /* --- Custom Heading Sizes --- */

  /* DISPLAY */
  --text-display: 44px;
  --text-display--line-height: 60px;

  /* HEADING-1 */
  --text-h1: 32px;
  --text-h1--line-height: 44px;

  /* HEADING-2 */
  --text-h2: 24px;
  --text-h2--line-height: 32px;

  /* SUBHEADING-1 */
  --text-sh1: 20px;
  --text-sh1--line-height: 28px;

  /* BODY-1 */
  --text-b1: 16px;
  --text-b1--line-height: 20px;

  /* BODY-2 */
  --text-b2: 14px;
  --text-b2--line-height: 18px;

  /* BODY-3 */
  --text-b3: 12px;
  --text-b3--line-height: 16px;

  --font-manrope: "Manrope", sans-serif;
}
